
.spaceLevitate{
  position: relative;
}


.spaceSortElement{
  position: absolute;
  display: none;
}
.spaceSortElement .spaceSortContent{
  -webkit-transition: all .8s;
  -moz-transition: all .8s;
  -o-transition: all .8s;
  -ms-transition: all .8s;
  transition: all .8s;
  z-index: -1;
  opacity: 0;
}
.spaceSortShow1{
  -webkit-transition: all .8s;
  -moz-transition: all .8s;
  -o-transition: all .8s;
  -ms-transition: all .8s;
  transition: all .8s;
  position: relative!important;
  display: flex;
}
.spaceSortShow2 .spaceSortContent{
  -webkit-transition: all .8s;
  -moz-transition: all .8s;
  -o-transition: all .8s;
  -ms-transition: all .8s;
  transition: all .8s;
  z-index: 1!important;
  opacity: 1!important;
}


.spaceCourtain{
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
  z-index: 4;
  background-color: rgba(0,0,0,0);
  overflow: hidden;
}
.spaceCourtainElement{
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -o-transition: all .7s;
  -ms-transition: all .7s;
  transition: all .7s;
  margin-top: 0;
}
.spaceMoveUp{
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -o-transition: all .7s;
  -ms-transition: all .7s;
  transition: all .7s;
  margin-top:-2000px!important;
}

.spaceMoveLeft{
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -o-transition: all .7s;
  -ms-transition: all .7s;
  transition: all .7s;
  margin-left:-2000px!important;
}
.spaceNotMove{
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -o-transition: all .7s;
  -ms-transition: all .7s;
  transition: all .7s;
  margin-left:0px!important;
  margin-right: 0px!important;
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}



.spaceMenuShadow{
  z-index: 4;
  background-color: rgba(0,0,0,0.3);
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
}





/*menu button animation*/
.spaceOptionsHolder a {
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  margin: 0 0 0 20px;
}
.spaceOptionsHolder a .text {
  transform: translate3d(0, 0.1em, 0);
  margin: 5px;
  transition: transform 0.2s cubic-bezier(0.2, 0, 0, 1) 0.2s;
}
.spaceOptionsHolder a:after {
  position: absolute;
  content: '';
  left: calc(0.1em * 1.2);
  right: calc(0.1em * 1.2);
  z-index: -1;
  transition: transform 0.4s cubic-bezier(1, 0, 0.37, 1) 0.1s, right 0.1s cubic-bezier(0.04, 0.48, 0, 1) 0.3s, left 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.3s;
  transform-origin: left;
}
.line {
  position: absolute;
  background: rgb(38,47,49);
}
.line.-right, .line.-left {
  width: 4px;
  bottom: -4px;
  top: -4px;
  transform: scale3d(1, 0, 1);
}
.line.-top, .line.-bottom {
  height: 4px;
  left: -4px;
  right: -4px;
  transform: scale3d(0, 1, 1);
}
.line.-right {
  right: -4px;
  transition: transform 0.05s cubic-bezier(1, 0, 0.65, 1.01) 0.11s;
  transform-origin: top;
}
.line.-top {
  top: -4px;
  transition: transform 0.04s linear 0.21s;
  transform-origin: left;
}
.line.-left {
  left: -4px;
  transition: transform 0.04s linear 0.25s;
  transform-origin: bottom;
}
.line.-bottom {
  bottom: -4px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}

.spaceOptionsHolder a:hover .text,
.spaceOptionsHolder a:active .text,
.spaceOptionsHolder .selected .text,
.spaceOptionsHolder .selected:active .text{
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s cubic-bezier(0.2, 0, 0, 1) 0.2s;
}
.spaceOptionsHolder a:hover:after,
.spaceOptionsHolder a:active:after,
.spaceOptionsHolder .selected:after,
.spaceOptionsHolder .selected:active:after {
  transform: scale3d(0, 1, 1);
  right: -4px;
  left: -4px;
  transform-origin: right;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.8s, right 0.1s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.1s;
}
.spaceOptionsHolder a:hover .line,
.spaceOptionsHolder a:active .line,
.spaceOptionsHolder .selected .line,
.spaceOptionsHolder .selected:active .line {
  transform: scale3d(1, 1, 1);
}
.spaceOptionsHolder a:hover .line.-right,
.spaceOptionsHolder a:active .line.-right,
.spaceOptionsHolder .selected .line.-right,
.spaceOptionsHolder .selected:active .line.-right,{
  transition: transform 0.05s cubic-bezier(1, 0, 0.65, 1.01) 0.1s;
  transform-origin: bottom;
}
.spaceOptionsHolder a:hover .line.-top,
.spaceOptionsHolder a:active .line.-top,
.spaceOptionsHolder .selected .line.-top,
.spaceOptionsHolder .selected:active .line.-top {
  transition: transform 0.04s linear 0.2s;
  transform-origin: right;
}
.spaceOptionsHolder a:hover .line.-left,
.spaceOptionsHolder a:active .line.-left,
.spaceOptionsHolder .selected .line.-left,
.spaceOptionsHolder .selected:active .line.-left {
  transition: transform 0.04s linear 0.24s;
  transform-origin: top;
}
.spaceOptionsHolder a:hover .line.-bottom,
.spaceOptionsHolder a:active .line.-bottom,
.spaceOptionsHolder .selected .line.-bottom,
.spaceOptionsHolder .selected:active .line.-bottom{
  transition: transform 0.2s cubic-bezier(0, 0.53, 0.29, 1) 0.27s;
  transform-origin: left;
}



/*////////////////////////////////////////////////space */
.spaceMasonry{
  position: relative;
  /*-webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;

  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;*/
}
.spaceTile{
  width: 50%;
  position: absolute;
  margin: auto;
}


